.FAQBlock{
   .info{
      padding-top: 6rem;
      padding-bottom: 4rem;
      display: flex;
      justify-content: center;
      gap: 4rem;

      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../../../FAQ/faqPeoples.png");
      

      @media screen and (max-width: 1025px) {
         flex-direction: column;
         gap: 8rem;
         padding-bottom: 0rem;

         .faq{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
         }

         .socials{
            transform: translateY(1rem) !important;
            text-align: center;
            justify-content: center;
            align-items: center;

            .address{
               p{
                  margin: 0 auto;
                  text-align: center;
               }
               .media{
                  justify-content: center;
               }
               button{
                  margin: 0 auto !important;
               }
            }
         }
      }

      .faq{
         padding-top: 2rem;
         h1{
            text-align: center;
            color: white;
         }
         }
         h2{
            color: white;
         }
         
         .asks{
            padding-top: 2rem;
   
            .question{
               position: relative;
               color: white;
               h2{
                  width: fit-content;
   
                  padding: 1rem;
   
                  cursor: pointer;
   
                  font-weight: 500;
                  font-size: 1.4em;
                  text-transform: none;
   
                  display: flex;
                  align-items: center;
               }
   
               .answer{
                  display: none;
   
                  position: absolute;
                  top: 99%;
                  z-index: 2;
                  
                  padding: 1rem;
               }
   
            }
            .showAnswer{
               h2{
                  backdrop-filter: blur(3rem);
                  -webkit-backdrop-filter: blur(3rem);
   
                  border-radius: 1.4rem 1.4rem 0 0;
               }
   
               .answer{
                  display: block;
   
                  backdrop-filter: blur(3rem);
                  -webkit-backdrop-filter: blur(3rem);
                  border-radius: 0 1rem 1rem 1rem ;
                  color: white;
               }
            }
         }
      }
   
      .socials{
         transform: translateY(8rem);

         z-index: 1;

         padding: 1rem 2rem;
         margin-top: 2rem;

         display: flex;
         flex-direction: column;
         justify-content: center;

         gap: 2rem;

         background-color: white;
         box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.466);
         border-radius: 1rem;

         h1{
            text-align: center;
            font-weight: 500;
         }
   
         .address{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-content: center;
            gap: 4rem;

            p{
               max-width: 24rem;
               text-align: center;
            }
         }

         button{
            margin: 0 auto;
            padding: 1rem 3rem;
         }

         .media{
            display: flex;
            justify-content: center;
            gap: 1.25rem;

            img{
               max-width: 36px;
            }
         }
      }

   .mapBlock{
      width: 100%;
      height: 30rem;
   }
}