@import url('../../main.css');
/* navigator's styles */
@import url('../nav/css/nav.css');

/* footer's styles */
@import url('../footer/css/footer.css');

/* blocks */
@import url('../form/FORM.css');
@import url('./static/css/land.css');
@import url('./static/css/input.css');
@import url('./static/css/FAQ.css');

.titleBlock{
   margin-top: 10rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 4rem;
}
.titleBlock h1{
   font-weight: 400;
   text-align: center;
   font-size: 2em;
}
.titleBlock p{
   text-align: center;
   font-size: 1em;
}