.secondBlock{
   padding-top: 6rem;
   display: flex;
   justify-content: center;
   gap: 4rem;

   img{
      max-width: 35rem;
      height: auto;
   }
   .text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      h1{
         letter-spacing: 2px;
         text-align: start;
         font-size: 2em;
         font-weight: 500;
      }
      p{
         letter-spacing: 0.5px;
         max-width: 40rem;
         padding-top: 1rem;
         text-align: start;
         font-size: 1em;
      }
   }

   @media screen and (max-width: 1200px) {
      flex-direction: column;
      .text{
         h1{
            text-align: center;
         }
         p{
            text-align: center;
            margin: 0 auto;
         }

      }
      img{
         margin: 0 auto;
      }
   }
}