footer{
   padding: 4rem 0rem;

   display: flex;
   justify-content: center;
   align-items: center;
   gap: 4rem;

   .logo{
      max-width: 200px;
      height: auto;
   }

   .btns{
      display: flex;
      flex-direction: column;
      
      ul{
         list-style: none;
         display: flex;
         gap: 1rem;
         li{
            cursor: pointer;
            h1{
               font-size: 1em;
               font-weight: 600;
            }
         }
      }

      .title{
         display: flex;
         gap: 1rem;
         p{
            cursor: pointer;
         }
      }
 
      @media screen and (max-width: 640px) {
         ul{
            display: none;
         }
         .title{
            flex-direction: column;
            align-items: center;
         }
      }
   }
   @media screen and (max-width: 1000px) {
      flex-direction: column;
   }
}