.landBlock{
   padding-top: 10rem;
   padding-bottom: 10rem;

   min-height: 40rem;

   display: flex;
   justify-content: center;
   align-items: center;
   gap: 4rem;

   @media screen and (max-width: 1350px) {
      padding-top: 15rem;
      flex-direction: column;
      gap: 0;

      .icon{
         order: 1;
      }
      .text{
         text-align: center;

         h1, p{
            max-width: 30rem !important;
         }
      }
   }

   background-image: url('../../public/land/background.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   
   .text{
      display: flex;
      flex-direction: column;
      gap: 2rem;
      h1{
         max-width: 40rem;
         font-size: 2em;
         font-weight: 500;
         color: #3b3b3b;
         letter-spacing: 1px;
         text-transform: uppercase;

         strong{
            color: #658cc9;
         }
      }

      p{
         font-weight: 500;
         max-width: 27rem;
         font-size: 1.2em;
         font-weight: 400;

         strong{
            font-weight: 500;
         }
      }
   }

   .icon{
      max-width: 50rem;
      transform: translateY(8rem);
   }
}