.landBlock {
  padding-top: 10rem;
  padding-bottom: 10rem;
  min-height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  position: relative;
  background-image: url("../../public/land/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.landBlock .arrows {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1350px) {
  .landBlock .arrows {
    top: 55%;
    left: 10%;
    transform: translateX(-10%) translateY(-55%);
  }
}
@media screen and (max-width: 800px) {
  .landBlock .arrows {
    display: none;
  }
}
.landBlock .arrows .arrow {
  cursor: pointer;
  z-index: 3;
  box-sizing: content-box;
  padding: 1rem;
  max-width: 2rem;
}
.landBlock .arrows .arrow:nth-child(1) {
  transform: rotate(180deg);
}
@media screen and (max-width: 1350px) {
  .landBlock {
    padding-top: 15rem;
    flex-direction: column;
    gap: 0;
  }
  .landBlock .iconLand {
    order: 1;
  }
  .landBlock .text {
    text-align: center;
  }
  .landBlock .text h1 {
    max-width: 30rem !important;
  }
}
.landBlock .text {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.landBlock .text h1 {
  padding: 0 10px;
  max-width: 30rem;
  font-size: 2em;
  font-weight: 500;
  color: #3b3b3b;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.landBlock .text .btns {
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(1, 22rem);
  gap: 2rem;
}
@media screen and (max-width: 1350px) {
  .landBlock .text .btns {
    justify-content: center;
  }
}
@media screen and (max-width: 390px) {
  .landBlock .text .btns {
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
  }
  .landBlock .text .btns .btn .photo {
    display: none;
  }
}
.landBlock .text .btns .btn {
  position: relative;
}
.landBlock .text .btns .btn button {
  padding: 2rem 0rem;
  width: 100%;
  font-size: 1.4em;
}
.landBlock .text .btns .btn:nth-child(1) button {
  box-shadow: 0 0.4rem 0rem 0rem #376591;
}
.landBlock .text .btns .btn:nth-child(2) button {
  color: black;
  border: 0.1rem solid #558fe5;
  background: linear-gradient(6deg, #e4eef7 53%, #ffffff 66%);
}
.landBlock .text .btns .btn .photo {
  z-index: 2;
  position: absolute;
  left: -4rem;
  top: 50%;
  transform: translateY(-50%);
  max-width: 6rem;
}
.landBlock .text .btns .btn:nth-child(2) .photo {
  transform: translateY(-50%) scale(0.8);
}
.landBlock .price {
  z-index: 0;
  position: absolute;
  top: 30%;
  left: 42%;
  transform: translateX(-42%) translateY(-30%);
}
@media screen and (max-width: 1350px) {
  .landBlock .price {
    top: 20%;
    left: 80%;
    transform: translateX(-10%) translateY(-55%);
  }
}
@media screen and (max-width: 800px) {
  .landBlock .price {
    display: none;
  }
}
.landBlock .price .block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fe6a65;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
.landBlock .price .block::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 10rem;
  height: 10rem;
  transform: scale(1.14);
  background-color: rgba(241, 163, 159, 0.7725490196);
  border-radius: 50%;
  z-index: -1;
}
.landBlock .price .block .text {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.landBlock .price .block .text h2 {
  line-height: 1;
  color: white;
  font-weight: 400;
  font-size: 1.2em;
  text-align: center;
}
.landBlock .price .block .text h2:nth-child(1) {
  font-size: 2em;
  font-weight: 300;
}
.landBlock .price .block .text h2:nth-child(2) {
  font-size: 2.5em;
}
.landBlock .iconLand {
  display: none;
  max-width: 50rem;
  transform: translateY(8rem);
}
.landBlock .showIconLand {
  display: block;
}

/*# sourceMappingURL=land.css.map */
