nav {
  z-index: 6;
  position: fixed;
  margin: 0 auto;
  left: 50%;
  width: 100dvw;
  transform: translateX(-50%);
  display: flex;
}
nav span {
  margin: 0 auto;
  padding: 2rem;
  background-color: #fcfcfc;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0 0 10rem -4rem rgba(0, 0, 0, 0.788);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
@media screen and (max-width: 1000px) {
  nav span {
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, 0.788);
  }
}
nav span .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  height: auto;
}
nav span .miniIcon {
  display: none;
  align-items: center;
  justify-content: center;
  max-width: 70px;
  height: auto;
}
nav span .title {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
nav span .title .head {
  width: 100%;
}
nav span .title .head ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}
nav span .title .head ul li {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  white-space: normal;
  gap: 1rem;
}
nav span .title .head ul li img {
  max-width: 30px;
  height: auto;
}
nav span .title .head ul li h1 {
  font-size: 0.8em;
  font-weight: 400;
}
nav span .title .btns {
  width: 100%;
  margin-top: 2rem;
}
nav span .title .btns ul {
  list-style: none;
  display: flex;
  gap: 0rem;
}
nav span .title .btns ul li {
  flex-grow: 1;
  flex-wrap: nowrap;
}
nav span .title .btns ul li h1 {
  padding: 1rem;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
}
nav span .title .btns ul .dropdown {
  position: relative;
  flex-direction: column;
  align-items: center;
}
nav span .title .btns ul .dropdown:hover .dropdownMenu {
  display: grid;
}
nav span .title .btns ul .dropdown:hover h1 {
  background-color: white;
  border: none;
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, 0.282);
}
nav span .title .btns ul .dropdown .dropdownMenu {
  position: absolute;
  top: 3rem;
  display: none;
  grid-template-columns: repeat(1, 1fr);
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0rem 1rem 1rem 0rem rgba(0, 0, 0, 0.282);
}
nav span .title .btns ul .dropdown .dropdownMenu ul {
  flex-direction: column;
  gap: 1rem;
}
nav span .title .btns ul .dropdown .dropdownMenu ul li {
  cursor: pointer;
  white-space: nowrap;
  color: rgb(80, 80, 80);
  font-size: 1em;
  font-weight: 400;
}
nav span .title .btns ul .dropdown .dropdownMenu ul li img {
  width: 20px;
  height: 20px;
}
nav span .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
nav span .contact button {
  z-index: 1;
  cursor: pointer;
  position: relative;
  padding: 0.4rem 1rem;
  font-size: 1em;
  font-weight: 500;
  color: white;
  border: none;
  border-radius: 0.6rem;
  box-shadow: 0 0.2rem 0rem 0rem #427aae;
  background: linear-gradient(4deg, #7da9ed 44%, #8ab2ef 55%);
}
nav span .contact button::after {
  z-index: -1;
  content: " ";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  box-shadow: 0 0 2rem -0.2rem #65adf0;
}
nav span .contact .number {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
nav span .contact .number h1 {
  font-size: 1em;
}
@media screen and (max-width: 1300px) {
  nav span .contact {
    display: none;
  }
}
nav span .iconPhone {
  display: none;
  position: relative;
}
@media screen and (max-width: 1300px) {
  nav span .iconPhone {
    display: block;
  }
}
nav span .iconPhone .picture {
  max-width: 3rem;
  min-width: 2rem;
  cursor: pointer;
}
nav span .iconPhone:hover .numbers {
  display: flex !important;
}
nav span .iconPhone .numbers {
  display: none;
  position: absolute;
  top: 100%;
  right: -1rem;
  width: 9.9rem;
  flex-direction: column;
  gap: 0.4rem;
  background-color: white;
  border-radius: 0.6rem;
  box-shadow: 0rem 0.4rem 1rem 0rem rgba(0, 0, 0, 0.282);
  padding: 0.8rem;
}
nav span .iconPhone .numbers h1 {
  color: rgb(0, 0, 0);
  font-size: 1em;
  font-weight: 400;
}
nav span .burgerMenu {
  display: none;
}
nav span .burgerMenu .brgBtn {
  z-index: 3;
  cursor: pointer;
}
nav span .burgerMenu .brgBtn svg {
  width: 48px;
}
nav span .burgerMenu .list {
  position: absolute;
  left: -100vw;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: left 0.2s;
}
nav span .burgerMenu .list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
nav span .burgerMenu .list ul li {
  cursor: pointer;
  text-align: center;
}
nav span .burgerMenu .show {
  left: 0;
}
nav .miniVersion .icon {
  display: none !important;
}
nav .miniVersion .miniIcon {
  display: flex !important;
}
@media screen and (max-width: 1200px) {
  nav .icon {
    display: none !important;
  }
  nav .miniIcon {
    display: flex !important;
  }
}
@media screen and (max-width: 1000px) {
  nav span {
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 0 2rem;
    align-items: center;
  }
  nav .icon {
    order: 1;
    padding: 1rem;
    display: flex;
  }
  nav .miniIcon {
    order: 1;
    padding: 1rem;
    display: flex;
  }
  nav .iconPhone {
    order: 2;
  }
  nav .title {
    display: none !important;
  }
  nav .burgerMenu {
    order: 0;
    display: flex !important;
  }
}

/*# sourceMappingURL=nav.css.map */
