.comparison{
   display: flex;
   flex-direction: column;
   gap: 3rem;
   .cards{
      margin-top: 0rem;
      display: grid;
      grid-template-columns: repeat(2, 40rem);
      justify-content: center;
      justify-items: center;
      gap: 2rem;


      @media screen and (max-width: 1300px) {
         grid-template-columns: repeat(1, 1fr);
      }

      .card{
         position: relative;

         padding-top: 18rem !important;
         padding: 0 2rem;

         max-width: 70rem;

         @media screen and (max-width: 500px){
            padding: 0;
            padding-top: 14rem !important;
         }
         @media screen and (max-width: 400px){
            padding: 0;
            padding-top: 12rem !important;
         }

         background-position: top;
         background-repeat: no-repeat;
         background-size: contain;
         z-index: 0;

         &::after{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";

            z-index: -1;

            background: linear-gradient(180deg, rgba(0,189,255,0) 10%, rgba(255,255,255,1) 38%);

            @media screen and (max-width: 550px) {
               background: linear-gradient(180deg, rgba(0,189,255,0) 10%, rgba(255,255,255,1) 38%);
            }
         }
         border-radius: 2rem 2rem 0 0;
         &:nth-child(1){
            background-image: url('../../public/comparison/1.png');

            .info{
               p{
                  &::before{
                     content: " ";
                     position: absolute;
                     left: -0.2rem;
                     top: 0;
                     width: 1rem;
                     height: 1rem;
                     background-position: center;
                     background-size: contain;
                     background-image: url('../../public/comparison/close.png');
                  }
               }
            }
         }

         &:nth-child(2){
            background-image: url('../../public/comparison/2.png');

            .info{
               p{
                  &::before{
                     content: " ";
                     position: absolute;
                     left: -0.2rem;
                     top: 0;
                     width: 1rem;
                     height: 1rem;
                     background-position: center;
                     background-size: contain;
                     background-image: url('../../public/comparison/check.png');
                  }
               }
            }
         }

         .info{
            padding: 2rem;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            gap: 1rem;
            min-height: 23.4rem;

            background-color: white;
            border-radius: 3rem;
            box-shadow: 0 0 3rem .3rem rgba(0, 0, 0, 0.247);

            h3{
               text-align: center;
               font-weight: 500;
               strong{
                  font-weight: 500;
                  color: #5290cc;
               }
            }
            p{
               padding-left: 1.8rem;
               position: relative;
            }
         }
      }
   } 
}